.root {
  /*  -fx-background-image: url('img.png');*/
    -fx-background-color: black;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: white;
    -fx-border-width: 2;

}
#fliplist{
    -fx-graphic: url('img_1.png');
    -fx-content-display: bottom;
    -fx-graphic-text-gap: 10;
}

