.root {
  /*  -fx-background-image: url('img.png');*/
    -fx-background-color: black;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: white;
    -fx-border-width: 5;
}
